.banner {
  width: 100%;
  height: 600px;
  .banner_img {
    width: 100%;
    position: relative;
    .banner_content {
      position: absolute;
      bottom: 200px;
      left: 20vw;
      p {
        font-size: 60px;
        color: #fff;
        margin: 0;
        text-align: left;
        span {
          color: #ffc31f;
        }
      }
      p:first-child {
        line-height: 60px;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
