main {
  .advertising {
    width: 100%;
    position: relative;
    margin: 100px 0 60px;
    
  }
  .ab_content {
    position: absolute;
    bottom: 160px;
    right: 20vw;

    p {
      font-size: 40px;
      color: #fff;
      margin: 0;
      text-align: left;
      span {
        color: #ffc31f;
      }
    }
    p:first-child {
      line-height: 40px;
    }
  }
}
