.nav_box {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 550;
  .nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  .navigation {
    padding: 8px 20px;
    transition: all 1s;
    cursor: pointer;
  }
  .navigation_hover {
    background: #000;
    color: #ffc31f;
  }

  .drop_down_list_hide {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    background: #000;
    transition: all 0.5s;
    z-index: 999;
  }
  .drop_down_list {
    height: 600px;
  }
}
